# Auto detect text files and perform LF normalization
* text=auto

# Keep LF line endings for Jupyter notebooks
*.ipynb text eol=lf

# Keep LF line endings for gitattributes
.gitattributes text eol=lf
